main section.my-top-bg{
    width: 100%;
    height: 15vh;
    background-color: #009688;
}

main section.my-bottom-bg{
    width: 100%;
    height: 85vh;
    background-color: #DBDBD2;
}

main section.my-container-window{
    width: 100%;
    height: 100%;
}

section.my-container-window div.app-window{
    width: 1000px;
    height: 690px;
    background-color: coral;
    border: 5px solid #cececc;
}

div.user-panel{
    height: 50px;
    background-color: #DDDDDD;
}

img#my-photo{
    width:40px;
    height:40px
}

div.user-panel div.user-icons{
    font-size: 1.2rem;
    color:#B0B0B0;
}

div.notifications-container{
    height: 55px;
    background-color: #8EDAFC;
}

div#notification-icon{
    width:40px;
    height:40px;
    background-color: white;
    color: #8EDAFC;
}

div.notifications-container p,
div.notifications-container a{
    font-size: .8rem;
}

div.notifications-container a{
    color: gray;
}