main section.my-top-bg{
    width: 100%;
    height: 15vh;
    background-color: #009688;
}

main section.my-bottom-bg{
    width: 100%;
    height: 85vh;
    background-color: #DBDBD2;
}

main section.my-container-window{
    width: 100%;
    height: 100%;
}

section.my-container-window div.app-window{
    width: 1000px;
    height: 690px;
    border: 5px solid #cececc;
}

div.left-container{
    height: 690px;
}

div.user-panel{
    height: 50px;
    background-color: #EAE8E8;
    border-right: 2px solid lightgray;
}

img.user-photo{
    width:40px;
    height:40px
}

div.user-icons{
    color:#B0B0B0;
}

div.user-panel div.user-icons{
    margin-top: .3rem;
}

div.chat-header-right div.user-icons,
div.chat-bottom div.chat-bottom-icon{
    font-size: 1.1rem;
}

div.notifications-container{
    height: 55px;
    background-color: #8EDAFC;
}

div#notification-icon{
    width:40px;
    height:40px;
    background-color: white;
    color: #8EDAFC;
}

div.notifications-container p,
div.notifications-container a,
div.user div p,
div.time p,
div.message p.message-content,
div.chat-bottom input,
div#search-chat input{
    font-size: .8rem;
}

div.notifications-container a{
    color: gray;
}

div.notifications-container a:hover {
    color: white;
}

div#search-chat{
    width: 100%;
    height: 35px;
}

div#search-chat input{
    width: 260px;
    height: 34px;
    border: 1px solid white;
}

div.chat-items-container{
    background-color: white;
    height: 540px;
    overflow-y: scroll;
}

div.chat-items-container div.chat-item{
    height: 55px;
}

div.active-chat-item{
    background-color: #E9EBEB;
}

div.user img.chat-item-photo {
    height: 45px;
    width: 45px;
}

div.right-container div.chat-header,
div.right-container div.chat-bottom{
    height: 50px;
}

div.right-container div.chat-header{
    background-color: #EAE8E8;
}

div.right-container div.chat-main{
    height: 580px;
    background-image: url(../img/mine.jpg);
    background-size: inherit;
    overflow-y: scroll;
}

div.message {
    border-radius: 7px;
}

div.my-message{
    background-color: #D5F9BA;
}

div.item-message{
    background-color: white;
}

div.right-container div.chat-bottom{
    background-color: #F3EEEA;
}

div.chat-bottom input {
    height: 40px;
    width: 530px;
    border: 1px solid #F3EEEA;
    border-radius: 5px;
}

div.chat-bottom div.chat-bottom-icon{
    width: 65px;
}